.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 190px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000000;
    background: #E2C5C4;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    box-shadow: 0 15px 20px rgba(245, 111, 238, 0.5);
    color: #524f4e;
    transform: translateY(-7px);
}

.floating-button1 {
  text-decoration: none;
  display: inline-block;
  width: 250px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #000000;
  background: #E2C5C4;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button1:hover {
  box-shadow: 0 15px 20px rgba(245, 111, 238, 0.5);
  color: #524f4e;
  transform: translateY(-7px);
}

.cartoon1 {
    background-image: url(12.png);
    position: relative;
  }
   
.text {
      padding: 30px;
      position: absolute;
      bottom: 25%;
      left: 0;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.floating {
    text-decoration: none;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000000;
    background: #ffede7;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating:hover {
    box-shadow: 0 15px 20px rgba(245, 111, 238, 0.5);
    color: #524f4e;
    transform: translateY(-7px);
}
.parent {
    height: 100px;
    width: 300px;
    padding-bottom: 40px;
    background: none;
    display: table;
}
  
  .buttonWrap {
    display: table-cell;
    vertical-align: bottom;
  }
  
 .cnopka {
    margin: 0 auto;
    display: block;
  }
.fom {
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0;
}
a {
  text-decoration: none;
}
div.container.p-4 {
  padding: 0;
}
.button_img {
  text-decoration: none;
  display: inline-block;
  line-height: 45px;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #79253D;
  transition: .3s;
  border-style: none;
}
h1.text-center.display-5.mb-5.mt-5 {
  color: #79253D;
}